* {
    border-radius: 10px;
    color: #FFFFFF;
}

window#waybar {
    background-color: transparent;
}

.modules-left,
.modules-right {
    margin: 5px 20px;
}

#workspaces button.active {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(127, 127, 127, 0.5);
}

#workspaces button:hover {
    border-color: #FFFFFF;
}

#battery,
#wireplumber,
#tray,
#clock {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(127, 127, 127, 0.5);
    margin-left: 10px;
    padding: 0px 10px;
}
