window#waybar {
    background-color: transparent;
}

.modules-left,
.modules-right {
    margin: 5px 20px 0px 20px;
}

#workspaces button.active {
    background-color: rgba(255, 255, 255, 0.3);
}

#workspaces button:hover {
    border-color: #FFFFFF;
}

#pulseaudio {
    padding: 0px 0px 0px 10px;
}

#tray {
    padding: 0px 10px;
}
